package templates
import "fmt"

templ Alert(text string, varNameToWatch string) {
    <div
        class="absolute top-2 left-1/2 py-3 px-5 shadow-md bg-green-200 text-alert-success border-custom-alert-success"
        x-show={varNameToWatch}
        x-transition
        x-init={fmt.Sprintf("$watch('%s', (value) => setTimeout(() => %s=false, 3000))", varNameToWatch, varNameToWatch)}>
      {text}
  </div>
}