package templates

import (
	"fmt"
	"github.com/kahunacohen/songs/models"
)

templ ArtistRow(artist models.Artist) {
	<tr class="hover:bg-gray-100">
		<td class="py-2 px-4 border-b">
			<a hx-boost="true" href={ templ.URL(fmt.Sprintf("/users/%d/artists/%d", 1, artist.Id)) }>
				{ artist.Name }
			</a>
		</td>
	</tr>
}
