package templates

import "github.com/kahunacohen/songs/models"

templ SongRows(songs []models.Song) {
    for _, song := range songs {
	   @SongRow(song)
	}
	<template>
		<div hx-swap-oob="true" id="pager">Swapped!!!!!</div>
	</template>


}