package templates

import (
"fmt"
"github.com/kahunacohen/songs/db"
)

templ Songs(userID string, songs []db.Song) {
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Genre</th>
			</tr>
		</thead>
		<tbody>
			for _, song := range songs {
				<tr>
					<td><a href={templ.URL(fmt.Sprintf("/users/%s/songs/%d", userID, song.SongID))}>{song.Title}</a></td>
					<td>{song.Genre}</td>
				</tr>
			}
		</tbody>
	</table>		
}